body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #444;
    padding: 10px;
  }
  
  nav ol {
    list-style: none;
    padding: 0;
    display: block;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  img {
    max-width: 100%;

  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


/* leaders page */
.leader {
  padding: 20px;
  text-align: center;
}

.leader img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* areas page */
.area {
  padding: 20px;
  text-align: center;
}

.area img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}


/* Uni page */
.university {
  padding: 20px;
  text-align: center;
}

.university img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.university a {
  text-decoration: none;
  color: #007bff;
}

.university a:hover {
  text-decoration: underline;
}




.contact-form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
